body, html
	margin 0
	padding 0

body
	//max-width 1280px
	min-width 320px

html
	box-sizing border-box
	color $fontColor
	font-family $textFont
	font-size unit($fontSize, 'px')

*
:before
:after
	// box-sizing se define en el html, y se hereda en el resto de elementos.
	// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
	box-sizing inherit

a
	text-decoration none

h1, h2, h3, h4, h5, h6
	margin 0

p
	margin 0

ul
	margin 0
	padding 0
	li
		list-style none

header
	&.main
		float left
		padding .5em 1em
		width 250px

section
	float left
	width calc(100% - 250px)
