/* Triangles */
triangle(type = '', color = '', top = '', right = '', bottom = '', left = '')
	border-bottom bottom solid transparent
	border-left left solid transparent
	border-right right solid transparent
	border-top top solid transparent
	content ""
	display inline-block
	if type == 'top'
		border-top-color color
	if type == 'right'
		border-right-color color
	if type == 'bottom'
		border-bottom-color color
	if type == 'left'
		border-left-color color

.h-list
	li
		display inline-block

.orange-link-dashed
	color $orangeColor
	&:hover
		border-bottom 1px dashed $orangeColor

.section-heading
	border-bottom 1px dashed $orangeColor
	font-family $logoFirstFont
	margin-bottom .5em
	padding .1em

.no-transition
	transition none !important
