/*#### SIDEBAR ################################################################*/

header
	&.main
		height 100% /* 100% Full-height */
		z-index 100 /* Stay on top */
		top 0
		left 0
		background-color white
		overflow-x hidden /* Disable horizontal scroll */
		overflow-y hidden
		transition margin-left 0.5s /* 0.5 second transition effect to slide in the sidenav */
		.description
			font-size .8em
			margin 3em 0 1.5em 0
			text-align center
		.logo
			color $fontColor
			text-align center
			div
				margin 10px 0
				img
					margin 0
					position relative
				//z-index 2 para posicionar sobre la foto de Diego
				.camera
					transition all 1s ease
					z-index 2
					&.hide
						transition all 1s ease-in-out
					&:hover, &.hide
						opacity 0
						transform rotate(360deg)
						+.teke
							opacity 1
				//z-index 1 para dejar la foto debajo del logo y uso margen izquierdo negativo para posicionarla
				.teke
					border-radius 50%
					margin-left -130px
					opacity 0
					transition opacity .5s ease
					width 130px
					z-index 1
			h2
				//color $orangeColor
				font-size 1.06em
				margin .2em 0 .5em 0
			span
				border-top 1px solid $fontColor
				font-size 1em
		.social
			font-size 1.5em
			text-align center
			li
				margin .5em
				a
					color $orangeColor
					display block
					transition transform .5s ease
					&:hover
						transform translateY(-.2em)
	&.burger
		background-color white
		display none
		height 40px
		margin 0
		width 100%
		.burger-btn
			height 100%
			margin-right .5em
			padding 0 .6em
			a
				display block
			&.open
				background-color $orangeColor
		h1, span, div
			display inline-block
			vertical-align middle
		h1
			font-size 1.5em
			//Fix font baseline
			padding-top .2em
		span
			font-size 1em
		a
			font-size 1.1em
			padding 0
			transform translateY(50%)
			// &:hover
			// 	border 1px solid transparent !important

nav
	margin 1.5em 0
	ul
		padding 0 1em
	li
		border-bottom 1px dashed $linkColor
		margin .5em 0
		&:hover,
		&.active
			a
				color black
				.arrow-right
					opacity 1
		a
			color $linkColor
			display block
			font-size 1.2em
			padding .3em 0 .5em
			.arrow-right
				opacity 0
				width 19px

/*#### HOME ################################################################*/

.home
	transition margin-left .5s
	// .grid-sizer, .grid-item
	// 	width 25%
	figure
		// background-color black
		// display inline-block
		// margin 0
		// position relative
		&:hover
			a:after
				opacity .7
		a
			// display block
			img
				//display block
				// height auto
				// vertical-align middle
				transition all .3s ease-in-out
				// width 100%
				//-webkit-backface-visibility: hidden;
			&:after
				//background $orangeColor
				background #000
				bottom 0
				content ''
				left 0
				opacity 0
				position absolute
				right 0
				top 0
				transition all .3s ease-in-out
				z-index 1

/*#### SETUP / CONTACT ##########################################################*/

.setup, .contact
	.description
		padding 2em
		border 2em solid transparent
		background linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)) padding-box,
							 url('../img/contact-bk.jpg') border-box 0 / cover
	.section-heading
		padding-top 1em

.contact
	background-size cover
	.description
		& :not(.section-heading)
			text-align center
		.hello
			font-size 2em
		.copy
			font-size 1.3em
			margin-top .8em
			&:nth-child(4)
				color $linkColor
				font-size 1.2em
				line-height 1.5em
				margin-bottom .5em
			.email
				border-bottom 1px dashed transparent
				color $orangeColor
				&:hover
					border-bottom 1px dashed $orangeColor
		.address
			color $orangeColor
			font-size 2em
			letter-spacing .4em
			line-height 1.4em
			span
				display block
		.tel
			font-size 1.2em
			span
				color $orangeColor
		.separator
			color white
			font-size 5em
			letter-spacing -.32em
			margin-left -.32em
			text-shadow 1px 1px 5px #ddd
		.social-links
			font-size 1.2em
			margin-top 1.5em
		ul
			margin-top 1em
			li
				&:not(:first-child)
					margin-left 1em
				a
					color $orangeColor
					font-size 2em

.setup
	img
		display inline-block
		height auto
		margin .5em 0
		width 45%
	.description
		text-align left
		ul
			border-left 4px solid grey
			margin 2em 0 1em 1em
			padding-left 1em
			li
				color grey
				font-style italic
				list-style disc
				margin-left 1em

/*#### TAGS ################################################################*/

.tags
	background-color white
	border-bottom 2px solid $orangeColor
	ul
		background-color white
		li
			margin 0 .3em
			padding .5em 0
			a
				border 1px solid transparent
				color $fontColor
				display block
				font-size .7em
				padding .5em 1em
				text-transform uppercase
				&.selected
					border 1px solid $orangeColor
					color $orangeColor
				&:not(.selected):hover
					border-bottom 1px dashed $orangeColor
	.tags-select
		background white url('../img/down-arrow.png') no-repeat 93% center
		background-size 10px auto
		border 1px solid $orangeColor
		cursor pointer
		display none
		font-size .7em
		margin 1em .5em .5em .5em
		outline 0
		padding .5em .8em
		padding-right 2em
		text-align left
		text-transform uppercase

/*#### LIGHTBOX ################################################################*/

.jslghtbx
	z-index 1000

.jslghtbx-close
	font-size 1em !important
	&:hover
		color $orangeColor

.jslghtbx-contentwrapper
	& > img
		padding .2em !important

.jslghtbx-next,
.jslghtbx-prev
	border none !important
	&:before
		color white
		font-family  FontAwesome
		font-size 1.5em
		position absolute
		top 0
	&:hover
		&:before
			color $orangeColor

.jslghtbx-next
	&:before
		content "\f178"
		left -35px

.jslghtbx-prev
	&:before
		content "\f177"
		right -35px
