@media screen and (max-width: 1080px)
  header
    &.main
      width 230px

  section
    width calc(100% - 230px)

  .home
    .grid-sizer, .grid-item
      width calc(100%/3)

@media screen and (min-width: 769px)
  header
    &.main
      //Set header visible
      margin-left 0 !important
      //Stick header to top
      margin-top 0 !important

@media screen and (max-width: 768px)
  header
    &.main
      box-shadow 2px 2px 5px rgba(0,0,0,.5)
      margin-left -250px
      margin-top 41px
      position fixed /* Stay in place */
      padding 0
      .logo
        h1, span
          display none
    &.burger
      display inline-block
      position fixed
      z-index 2

  section
    width 100%

  .tags
    border-top 1px solid $orangeColor
    left 0
    position fixed
    right 0
    top 0
    z-index 2
    ul
      box-shadow 2px 2px 5px rgba(0,0,0,.5)
      display none
      position absolute
      overflow auto
      width 200px
      z-index 1
      &.show
        display block
      li
        display block
    .tags-select
      display inline-block

  .tags, .setup
    margin-top 40px

@media screen and (max-width: 600px)
  .home
    .grid-sizer, .grid-item
      width calc(100%/2)

@media screen and (max-width: 300px)
  .home
    .grid-sizer, .grid-item
      width 100%
