/* ==== COLORS ====================== */

/* Colores */
$fontColor = #3c3c3b
$linkColor = #999
$orangeColor = #fc6e51

/* Fuentes */
$textFont = 'Open Sans', sans-serif
$logoFirstFont = 'Bellerose'
$logoSecondFont = 'Vonique92'

// Tamaño base del texto en px.
$fontSize = 16

