/* ===== FONT-FACE ==========================================================================================*/

@font-face
	font-family 'Bellerose'
	font-style normal
	font-weight normal
	src url('../fonts/bellerose-webfont.eot')
	src url('../fonts/bellerose-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/bellerose-webfont.woff2') format('woff2'), 
		url('../fonts/bellerose-webfont.woff') format('woff'), 
		url('../fonts/bellerose-webfont.ttf') format('truetype'), 
		url('../fonts/bellerose-webfont.svg#belleros') format('svg')

@font-face
	font-family 'Vonique92'
	font-style normal
	font-weight normal
	src url('../fonts/vonique_92_regular-webfont.eot')
	src url('../fonts/vonique_92_regular-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/vonique_92_regular-webfont.woff2') format('woff2'), 
		url('../fonts/vonique_92_regular-webfont.woff') format('woff'), 
		url('../fonts/vonique_92_regular-webfont.ttf') format('truetype'), 
		url('../fonts/vonique_92_regular-webfont.svg#vonique92') format('svg')

/* ### ICOMOON ### */

@font-face
	font-family 'icomoon'
	src url('../fonts/icomoon/icomoon.eot?2nkhqt')
	src url('../fonts/icomoon/icomoon.eot?2nkhqt#iefix') format('embedded-opentype'), 
		url('../fonts/icomoon/icomoon.ttf?2nkhqt') format('truetype'), 
		url('../fonts/icomoon/icomoon.woff?2nkhqt') format('woff'), 
		url('../fonts/icomoon/icomoon.svg?2nkhqt#icomoon') format('svg')
	font-weight normal
	font-style normal

i
	font-family 'icomoon' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-chevron-right
	&:before
		content "\f054"
.icon-facebook-square
	&:before
		content "\f082"
.icon-instagram
	&:before
		content "\f16d"
.icon-long-arrow-right
	&:before
		content "\f178"

/* ===== FONT STYLES ==========================================================================================*/

nav
	font-family $logoFirstFont

.logo
	h1
		font-family $logoFirstFont
	h2
		font-family $logoSecondFont
	span
		font-family $textFont