{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<title>
		{% block title %}elpibedelacamara - Diego Muñoz Photographer{% endblock %}
	</title>

	<!-- <script src="https://use.fontawesome.com/00ad095cc1.js"></script> -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="{% static "css/styles.css" %}">

	<link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicon/apple-icon-57x57.png" %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favicon/apple-icon-60x60.png" %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicon/apple-icon-72x72.png" %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicon/apple-icon-76x76.png" %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicon/apple-icon-114x114.png" %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicon/apple-icon-120x120.png" %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicon/apple-icon-144x144.png" %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicon/apple-icon-152x152.png" %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-icon-180x180.png" %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static "img/favicon/android-icon-192x192.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon/favicon-96x96.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png" %}">
	<link rel="manifest" href="{% static "img/favicon/manifest.json" %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static "img/favicon/ms-icon-144x144.png" %}">
	<meta name="theme-color" content="#ffffff">

	{% block head %}{% endblock %}
</head>
<body>
	<header class="main">
		<div class="logo">
			<div>
				<img src="{% static "img/logo.png" %}" alt="elpibedelacamara - Diego Muñoz Photographer" class="camera"><!--
				--><img src="{% static "img/teke.jpg" %}" alt="Hola, soy Diego Muñoz!" class="teke">
			</div>
			<h1>DIEGO MUÑOZ</h1>
			<h2>elpibedelacamara</h2>
			<span>PHOTOGRAPHER</span>
		</div>
		<nav>
			<ul>
				<li {% if whereIAm.0 == "" or whereIAm.0 == "tag" %}class="active"{% endif %}><a href="/">HOME <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
				<!-- <li {% if whereIAm.0 == "portfolio" %}class="active"{% endif %}><a href="/portfolio">PORTFOLIO <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li> -->
				<li {% if whereIAm.0 == "setup" %}class="active"{% endif %}><a href="/setup">SETUP <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
				<li {% if whereIAm.0 == "contact" %}class="active"{% endif %}><a href="/contact">CONTACTO <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
			</ul>
		</nav>
		<div class="description">
			<p>Hola, soy Diego y quiero mostrarte, a traves de mis fotos, el mundo tal como lo veo yo.</p>
			<p>Seguime en Instagram <a href="http://www.instagram.com/elpibedelacamara" class="orange-link-dashed">@elpibedelacamara</a>.</p>
		</div>
		<div class="social">
			<ul class="h-list">
				<li class="orange-link-dashed"><a href="http://www.instagram.com/elpibedelacamara"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li class="orange-link-dashed"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</header>
	<header class="burger">
		<a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
	</header>
	{% block content %}{% endblock %}
	{% block scriptjs %}{% endblock %}
	<script src="https://use.fontawesome.com/f345cc1188.js"></script>
</body>
</html>
