{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="contact">
	<h1 class="section-heading">CONTACTO</h1>
	<div class="description">
		<h2 class="hello">¡HAGAMOS REALIDAD TUS IDEAS!</h2>
		<p class="copy">Contame que necesidad tenes a <a class="email" href="mailto:elpibedelacamara@gmail.com">elpibedelacamara@gmail.com <i class="fa fa-envelope" aria-hidden="true"></i></a></p>
		<p class="copy">Contactate conmigo para que hagamos las fotos de tu evento empresarial, el book de tu cumpleaños de quince o casamiento, las fotos de tu producto o las fotografías que necesites.</p>
		<p class="separator">//\\</p>
		<p class="address">
			<span>AVENIDA SIEMPRE VIVA 123</span>
			<span>ARRECIFES</span>
			<span>BUENOS AIRES</span>
			<span>ARGENTINA</span>
		</p>
		<p class="separator">\\//</p>
		<p class="tel"><span>Tel / Phone:</span> (02478) 15 521081</p>
		<p class="social-links">Encontrame también en mis redes sociales:</p>
		<ul class="h-list">
			<li class="orange-link-dashed"><a href="http://www.instagram.com/elpibedelacamara"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li class="orange-link-dashed"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</section>
{% endblock %}
