{% extends 'base.html' %}
{% load static %}
<!-- load filebrowser templatetags -->
{% load fb_versions %}

{% block head %}
<link rel="stylesheet" href="{% static "assets/js/jsOnlyLightbox-0.5.6/css/lightbox.min.css" %}">
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
{% endblock %}

{% block content %}
<section class="home grid">
	<div class="tags stamp">
		{% if whereIAm.0 == 'tag' %}
			{% for tag in tags %}
				{% if tag.slug == whereIAm.1 %}
					<button onclick="openTagsMenu()" class="tags-select">{{tag.name}}</button>
				{% endif %}
			{% endfor %}
		{% else %}
			<button onclick="openTagsMenu()" class="tags-select">Todo</button>
		{% endif %}
		<ul class="h-list">
			{% if whereIAm.0 == 'tag' %}
				<li class="all"><a href="/">TODO</a></li>
				{% for tag in tags %}
					<li><a href="/tag/{{tag.slug}}" {% if tag.slug == whereIAm.1 %} class="selected" {% endif %}>{{tag.name}}</a></li>
				{% endfor %}
			{% else %}
				<li class="all"><a href="/" class="selected">TODO</a></li>
				{% for tag in tags %}
					<li><a href="/tag/{{tag.slug}}">{{tag.name}}</a></li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	<div class="grid-sizer"></div>
	{% for i in photos %}
		<figure class="grid-item" style="display:none;">
			<a href="{{i.image.url}}" data-jslghtbx="{{i.image.url}}" data-jslghtbx-group="mygroup1">
				<img src="{% version i.image 'thumbnail' %}" alt="">
			</a>
		</figure>
	{% endfor %}
</section>
{% endblock %}

{% block scriptjs %}
<script>
	function openTagsMenu() {
		document.querySelector(".tags ul").classList.toggle("show");
	}

	// Close the dropdown if the user clicks outside of it
	window.onclick = function(event) {
		if (!event.target.matches('.tags-select')) {
			if (document.querySelector(".tags ul").classList.contains('show')) {
				document.querySelector(".tags ul").classList.toggle("show");
			}
		}
	}
</script>
<script>
	var grid = document.querySelector('.grid');

	var msnry = new Masonry(grid, {
		itemSelector: '.grid-item',
		columnWidth: '.grid-sizer',
		percentPosition: true,
		stamp: '.stamp',
		hiddenStyle: {
			transform: 'translateY(100px)',
      opacity: 0
    },
    visibleStyle: {
      transform: 'translateY(0px)',
      opacity: 1
    }
	});

	function findParent(el, cls) {
		while ((el = el.parentElement) && !el.classList.contains(cls));
		return el;
	}

	imagesLoaded(grid).on('progress', function(instance, image) {
		var el = document.querySelector("img[src='"+image.img.getAttribute('src')+"']");
		var parent = findParent(el, 'grid-item');
		// un-hide item
		parent.style.display = '';
		// layout Masonry after each image loads
		msnry.layout();
	});
</script>
<script src="{% static "assets/js/jsOnlyLightbox-0.5.6/js/lightbox.js" %}" type="text/javascript"></script>
<script>
	var lightbox = new Lightbox();
	lightbox.load();
</script>
<script src="{% static "js/js.js" %}"></script>
{% endblock %}
