{% extends 'base.html' %}
{% load static %}
{% load l10n %}
<!-- load filebrowser templatetags -->
{% load fb_versions %}
{% load mathfilters %}

{% block head %}
<link rel="stylesheet" href="{% static "assets/js/jsOnlyLightbox-0.5.6/css/lightbox.min.css" %}">
<!-- <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script> -->
<script>
	window.lazySizesConfig = window.lazySizesConfig || {};
	//only for demo in production I would use normal expand option
	window.lazySizesConfig.expand = 90;
</script>
<script src="//cdn.jsdelivr.net/g/lazysizes(lazysizes.min.js)" async=""></script>
<script src="//cdn.jsdelivr.net/g/jquery@2.1.3(jquery.min.js),isotope@2.0.0(jquery.isotope.min.js)"></script>

<style media="screen">
	*, :before, :after {
    	box-sizing: border-box;
	}

	.isotope-item {
		position: relative;
		width: 24.9%;
		height: auto;
		margin: 0;
		/*margin: .1%;*/
		/*box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.9);*/
	}

	.isotope-item a {
		content: '';
		display: inline-block;
		height: 100.5%;
	}

	.isotope-item img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100.5%;
		display: block;
	}

	.lazyload {
		background: #f7f7f7;
	}

	.lazyloading {
		background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
		min-height: 60px;
	}
</style>
{% endblock %}

{% block content %}
<section class="home grid isotope-wrapper">
	<div class="tags stamp">
		{% if whereIAm.0 == 'tag' %}
			{% for tag in tags %}
				{% if tag.slug == whereIAm.1 %}
					<!--<button onclick="openTagsMenu()" class="tags-select">{{tag.name}}</button>-->
					<button class="tags-select">{{tag.name}}</button>
				{% endif %}
			{% endfor %}
		{% else %}
			<!--<button onclick="openTagsMenu()" class="tags-select">Todo</button>-->
			<button class="tags-select">Todo</button>
		{% endif %}
		<ul class="h-list">
			{% if whereIAm.0 == 'tag' %}
				<li class="all"><a href="/">TODO</a></li>
				{% for tag in tags %}
					<li><a href="/tag/{{tag.slug}}" {% if tag.slug == whereIAm.1 %} class="selected" {% endif %}>{{tag.name}}</a></li>
				{% endfor %}
			{% else %}
				<li class="all"><a href="/" class="selected">TODO</a></li>
				{% for tag in tags %}
					<li><a href="/tag/{{tag.slug}}">{{tag.name}}</a></li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	<div class="isotope-box">
		<!-- <div class="grid-sizer"></div> -->
		{% for i in photos %}
			{% version i.image 'thumbnail' as thumb %}
			<!-- <figure class="grid-item" style="display:none;"> -->
			<figure class="isotope-item">
				<!-- <a href="{{i.image.url}}" data-jslghtbx="{{i.image.url}}" data-jslghtbx-group="mygroup1"> -->
				<a href="{{i.image.url}}" style="padding-top:{{thumb.height|div:thumb.width|mul:100|unlocalize}}%;" data-jslghtbx="{{i.image.url}}" data-jslghtbx-group="mygroup1">
					<!-- <img src="{% version i.image 'thumbnail' %}" alt=""> -->
					<img data-src="{{thumb.url}}" class="lazyload" alt="">
				</a>
			</figure>
		{% endfor %}
	</div>
</section>
{% endblock %}

{% block scriptjs %}
<!-- <script>
	var grid = document.querySelector('.grid');

	var msnry = new Masonry(grid, {
		itemSelector: '.grid-item',
		columnWidth: '.grid-sizer',
		percentPosition: true,
		stamp: '.stamp',
		hiddenStyle: {
			transform: 'translateY(100px)',
			opacity: 0
		},
		visibleStyle: {
			transform: 'translateY(0px)',
			opacity: 1
		}
	});

	function findParent(el, cls) {
		while ((el = el.parentElement) && !el.classList.contains(cls));
		return el;
	}

	imagesLoaded(grid).on('progress', function(instance, image) {
		var el = document.querySelector("img[src='"+image.img.getAttribute('src')+"']");
		var parent = findParent(el, 'grid-item');
		// un-hide item
		parent.style.display = '';
		// layout Masonry after each image loads
		msnry.layout();
	});
</script> -->
<script>
	var isotopeBox = document.querySelector('.isotope-wrapper');
	var isotope = new Isotope(isotopeBox, {
		itemSelector: '.isotope-item',
		layoutMode: 'masonry',
		percentPosition: true,
		stamp: '.stamp'
	});
</script>
<script src="{% static "assets/js/jsOnlyLightbox-0.5.6/js/lightbox.js" %}" type="text/javascript"></script>
<script>
	var lightbox = new Lightbox();
	lightbox.load();
</script>
{% endblock %}
