{% extends 'base.html' %}
{% load static %}
{% load l10n %}
<!-- load filebrowser templatetags -->
{% load fb_versions %}
{% load mathfilters %}

{% block head %}
<link rel="stylesheet" href="{% static "assets/js/jsOnlyLightbox-0.5.6/css/lightbox.min.css" %}">
<script>
	window.lazySizesConfig = window.lazySizesConfig || {};
	//only for demo in production I would use normal expand option
	window.lazySizesConfig.expand = 90;
</script>
<script src="//cdn.jsdelivr.net/g/lazysizes(lazysizes.min.js)" async=""></script>
<script src="//cdn.jsdelivr.net/g/isotope@2.0.0(jquery.isotope.min.js)"></script>
{% endblock %}

{% block content %}
<section class="home grid isotope-wrapper">
	<div class="tags stamp">
		{% if whereIAm.0 == 'tag' %}
			{% for tag in tags %}
				{% if tag.slug == whereIAm.1 %}
					<button class="tags-select">{{tag.name}}</button>
				{% endif %}
			{% endfor %}
		{% else %}
			<button class="tags-select">Todo</button>
		{% endif %}
		<ul class="h-list">
			{% if whereIAm.0 == 'tag' %}
				<li class="all"><a href="/">TODO</a></li>
				{% for tag in tags %}
					<li><a href="/tag/{{tag.slug}}" {% if tag.slug == whereIAm.1 %} class="selected" {% endif %}>{{tag.name}}</a></li>
				{% endfor %}
			{% else %}
				<li class="all"><a href="/" class="selected">TODO</a></li>
				{% for tag in tags %}
					<li><a href="/tag/{{tag.slug}}">{{tag.name}}</a></li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	<div class="isotope-box">
		{% for i in photos %}
			{% version i.image 'thumbnail' as thumb %}
			<figure class="isotope-item">
				<a href="{{i.image.url}}" style="padding-top:{{thumb.height|div:thumb.width|mul:100|unlocalize}}%;" data-jslghtbx="{{i.image.url}}" data-jslghtbx-group="mygroup1">
					<img data-src="{{thumb.url}}" class="lazyload" alt="">
				</a>
			</figure>
		{% endfor %}
	</div>
</section>
{% endblock %}

{% block scriptjs %}
<script>
	var isotopeBox = document.querySelector('.isotope-wrapper');
	var isotope = new Isotope(isotopeBox, {
		itemSelector: '.isotope-item',
		layoutMode: 'masonry',
		percentPosition: true,
		stamp: '.stamp',
		hiddenStyle: {
			transform: 'translateY(100px)',
			opacity: 0
		},
		visibleStyle: {
			transform: 'translateY(0px)',
			opacity: 1
		}
	});

	// $('.isotope-wrapper')
	//   .each(function(){
	//
	//       var $isotope = $('.isotope-box', this);
	//       var $filterCheckboxes = $('input[type="radio"]', this);
	//
	//       var filter = function(){
	//         var type = $filterCheckboxes.filter(':checked').data('type') || '*';
	//         if(type !== '*'){
	//           type = '[data-type="'+ type +'"]';
	//         }
	//         $isotope.isotope({ filter: type });
	//       };
	//
	//       $isotope.isotope({
	//         itemSelector: '.isotope-item',
	//         layoutMode: 'masonry'
	//       });
	//
	//       $(this).on('change', filter);
	//       filter();
	//   })
	// ;
</script>
<script src="{% static "assets/js/jsOnlyLightbox-0.5.6/js/lightbox.js" %}" type="text/javascript"></script>
<script>
	var lightbox = new Lightbox();
	lightbox.load();
</script>
{% endblock %}
