{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="setup">
	<div class="description">
		<h1 class="section-heading">SETUP</h1>
		<p>Esta es una descripcion de mi equipamiento y que tecnicas uso para sacar fotos. El texto de este parrafo va a parecer que dice algo importante pero solo estoy rellenando espacio para hacer parecer que hay algo escrito.</p>
		<p>A continuacion voy a detallar mi setup que utilizo para als fotografias que saco a diario.</p>
		<ul>
			<li>Camara Nikon JS345 XXXX</li>
			<li>Lente Pichicho 142J 18mm</li>
			<li>Flash JLS2301</li>
			<li>iPhone 6</li>
		</ul>
	</div>
	<img src="{% static "img/setup/1.jpg" %}" alt="">
	<img src="{% static "img/setup/2.jpg" %}" alt="">
	<img src="{% static "img/setup/3.jpg" %}" alt="">
	<img src="{% static "img/setup/4.jpg" %}" alt="">
</section>
{% endblock %}
